.animation {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}
.animation__box-area {
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & li {
        position: fixed;
        overflow: hidden;
        z-index: -1;
        bottom: -150px;
        display: block;
        list-style: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255,0.5);
        animation: animate 20s linear infinite;
    }
}


@for $i from 1 through 6 {
    .animation__box-area li:nth-child(#{$i}{
        left: random(100) / 100 * 100%;
        width: 20px ;
        height: ;
        animation-delay: ;
    })
}

.animation__box-area li:nth-child(1){
    left: 12%;
    width: 60px;
    height: 60px;
    animation-delay: 1.2s;
}
.animation__box-area li:nth-child(2){
    left: 26%;
    width: 120px;
    height: 120px;
    animation-delay: 2.4s;
}
.animation__box-area li:nth-child(3){
    left: 38%;
    width: 80px;
    height: 80px;
    animation-delay: 1.8s;
}
.animation__box-area li:nth-child(4){
    left: 62%;
    width: 180px;
    height: 180px;
    animation-delay: 0.6s;
}
.animation__box-area li:nth-child(5){
    left: 74%;
    width: 60px;
    height: 60px;
    animation-delay: 1.2s;
}
.animation__box-area li:nth-child(6){
    left: 86%;
    width: 96px;
    height: 96px;
    animation-delay: 2.8s;
}

@keyframes animate {
    0%{
        transform: translateY(0);

    }
    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
        
    
}